footer{
    background: var(--corPrincipal);
    margin-top: 440px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 500px;

    
}

.social{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.social i{
    color: #fff;
}
footer p{
    color: #fff;
}
footer h1{
    color: #fff;
}

@media(max-width:500px){
    footer{
        margin-top: 850px;
    }
    footer h1, .social,p {
        margin-left: 50px;
        margin-right: 50px;
    }
}