main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 60px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
}
.leftSide h1{
    font-weight: 900;
}

.comecarAgora{
    padding: 10px;
    width: 40%;
    text-align: center;
    font-weight: bold;
    background: var(--corPrincipal);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.comecarAgora:hover{
    color: #000;
    background: #fff;
    box-shadow: 0 0 20px var(--corPrincipal);
    transition: .8s;
}

.rigthSide img{
    width: 400px;
}

